/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/styles/Main.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.Main_header__qzRRD {
    color: #8c7633;
    opacity: 80%;
    font-weight: 600;
    font-size: 30px;
}
